@charset "utf-8";
/* CSS Document */

* {
    appearance:normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
*:focus {
    outline: none;
}

*,*:after,*:before {-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box;	padding: 0;	margin: 0;}

body {
    margin: 0;
    padding: 0;
}

div, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
    display: block;
    position: relative;
}

p {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 20px;
}

a:hover{
    text-decoration:none!important;
}

#preloader {
	position:fixed;
	z-index:2500;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#FFF; 
	z-index:999999; 
}

#status {
	position:fixed;
	z-index:999999;
	width:250px;
	height:250px;
	position:absolute;
	left:50%; 
	top:50%; 
	background-image:url(../images/status.gif); 
	background-size:32px 32px;
	background-repeat:no-repeat;
	background-position:center;
	margin:-125px 0 0 -125px; 
}

#status p{
	top:60%;
}

#status em{
	font-size:10px!important;
	display:block;
	font-style:normal;
}

.center-text{	
	text-align:center;
}



body{
	background-image:url(../images/misc/body-bg.png);
	background-size:100px 100px;
	background-repeat:repeat;	
}

.landing-logo img{
	width:110px;	
	margin-left:auto;
	margin-right:auto;
}

.landing-logo{
	margin-bottom:30px;
}

.landing-page .decoration{
	margin-bottom:30px;
	margin-left:20px;
	margin-right:20px;
}

.top-deco{
	background-color:#16a085;
	height:5px;
	width:100%;
	display:block;
	margin-bottom:30px;
}

.bottom-deco{
	background-color:#27ae60;
	height:5px;
	display:block;
	width:100%;
	margin-top:16px;
}

