<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.sinoi.zyqyh.dao.ClxxMapper">
    <resultMap id="BaseResultMap" type="cn.com.sinoi.zyqyh.vo.Clxx">
        <id column="clxx_id" jdbcType="VARCHAR" property="id" />
        <result column="clxx_clmc" jdbcType="VARCHAR" property="clmc" />
        <result column="clxx_detail" jdbcType="VARCHAR" property="detail" />
    </resultMap>
    <sql id="Base_Column_List">
        id as clxx_id,
        clmc as clxx_clmc,
        detail as clxx_detail
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from clxx
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from clxx
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="cn.com.sinoi.zyqyh.vo.Clxx">
        insert into clxx (id, clmc, detail
        )
        values (#{id,jdbcType=VARCHAR}, #{clmc,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="cn.com.sinoi.zyqyh.vo.Clxx">
        insert into clxx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clmc != null">
                clmc,
            </if>
            <if test="detail != null">
                detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="clmc != null">
                #{clmc,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.com.sinoi.zyqyh.vo.Clxx">
        update clxx
        <set>
            <if test="clmc != null">
                clmc = #{clmc,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.com.sinoi.zyqyh.vo.Clxx">
        update clxx
        set clmc = #{clmc,jdbcType=VARCHAR},
        detail = #{detail,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
  
    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from clxx
    </select>
</mapper>