<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skynet.collection.dao.CollectionMapper" >
  <resultMap id="BaseResultMap" type="com.skynet.collection.vo.CollectionInfo" >
    <id column="C_ID" property="cId" jdbcType="VARCHAR" />
    <result column="AREA_ID" property="areaId" jdbcType="VARCHAR" />
    <result column="RACE_ID" property="raceId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="INTEGER" />
    <result column="ID_CARD_NO" property="idCardNo" jdbcType="VARCHAR" />
    <result column="ID_CARD_START_DATE" property="idCardStartDate" jdbcType="DATE" />
    <result column="ID_CARD_END_DATE" property="idCardEndDate" jdbcType="DATE" />
    <result column="ANMELDEN_ADDRESS" property="anmeldenAddress" jdbcType="VARCHAR" />
    <result column="ANMELDEN_DETAIL_ADDRESS" property="anmeldenDetailAddress" jdbcType="VARCHAR" />
    <result column="RESIDENTIAL_ADDRESS" property="residentialAddress" jdbcType="VARCHAR" />
    <result column="RESIDENTIAL_DATAIL_ADDRESS" property="residentialDatailAddress" jdbcType="VARCHAR" />
    <result column="MEDICARE_CARD_NO" property="medicareCardNo" jdbcType="VARCHAR" />
    <result column="RURAL_COOPERATIVE_CARD_NO" property="ruralCooperativeCardNo" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="IS_AUDITED" property="isAudited" jdbcType="INTEGER" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER2" property="createUser2" jdbcType="VARCHAR" />
    <result column="EXT3" property="ext3" jdbcType="VARCHAR" />
    <result column="EXT2" property="ext2" jdbcType="VARCHAR" />
    <result column="EXT1" property="ext1" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    C_ID, AREA_ID, RACE_ID, NAME, SEX, ID_CARD_NO, ID_CARD_START_DATE, ID_CARD_END_DATE, 
    ANMELDEN_ADDRESS, ANMELDEN_DETAIL_ADDRESS, RESIDENTIAL_ADDRESS, RESIDENTIAL_DATAIL_ADDRESS, 
    MEDICARE_CARD_NO, RURAL_COOPERATIVE_CARD_NO, ORG_ID, CREATE_USER, IS_AUDITED, CREATE_DATE, 
    UPDATE_DATE, CREATE_USER2, EXT3, EXT2, EXT1, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from collection
    where C_ID = #{cId,jdbcType=VARCHAR}
  </select>
  <select id="selectByIdCardNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from collection
    where ID_CARD_NO = #{idCardNo,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from collection
    where CREATE_USER = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from collection
    where C_ID = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.skynet.collection.vo.CollectionInfo" >
    insert into collection (C_ID, AREA_ID, RACE_ID, 
      NAME, SEX, ID_CARD_NO, 
      ID_CARD_START_DATE, ID_CARD_END_DATE, ANMELDEN_ADDRESS, 
      ANMELDEN_DETAIL_ADDRESS, RESIDENTIAL_ADDRESS, 
      RESIDENTIAL_DATAIL_ADDRESS, MEDICARE_CARD_NO, 
      RURAL_COOPERATIVE_CARD_NO, ORG_ID, CREATE_USER, 
      IS_AUDITED, CREATE_DATE, UPDATE_DATE, 
      CREATE_USER2, EXT3, EXT2, 
      EXT1, REMARK)
    values (#{cId,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, #{raceId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{idCardNo,jdbcType=VARCHAR}, 
      #{idCardStartDate,jdbcType=DATE}, #{idCardEndDate,jdbcType=DATE}, #{anmeldenAddress,jdbcType=VARCHAR}, 
      #{anmeldenDetailAddress,jdbcType=VARCHAR}, #{residentialAddress,jdbcType=VARCHAR}, 
      #{residentialDatailAddress,jdbcType=VARCHAR}, #{medicareCardNo,jdbcType=VARCHAR}, 
      #{ruralCooperativeCardNo,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{isAudited,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{createUser2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{ext1,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.skynet.collection.vo.CollectionInfo" >
    insert into collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        C_ID,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="raceId != null" >
        RACE_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="idCardNo != null" >
        ID_CARD_NO,
      </if>
      <if test="idCardStartDate != null" >
        ID_CARD_START_DATE,
      </if>
      <if test="idCardEndDate != null" >
        ID_CARD_END_DATE,
      </if>
      <if test="anmeldenAddress != null" >
        ANMELDEN_ADDRESS,
      </if>
      <if test="anmeldenDetailAddress != null" >
        ANMELDEN_DETAIL_ADDRESS,
      </if>
      <if test="residentialAddress != null" >
        RESIDENTIAL_ADDRESS,
      </if>
      <if test="residentialDatailAddress != null" >
        RESIDENTIAL_DATAIL_ADDRESS,
      </if>
      <if test="medicareCardNo != null" >
        MEDICARE_CARD_NO,
      </if>
      <if test="ruralCooperativeCardNo != null" >
        RURAL_COOPERATIVE_CARD_NO,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="isAudited != null" >
        IS_AUDITED,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="createUser2 != null" >
        CREATE_USER2,
      </if>
      <if test="ext3 != null" >
        EXT3,
      </if>
      <if test="ext2 != null" >
        EXT2,
      </if>
      <if test="ext1 != null" >
        EXT1,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="raceId != null" >
        #{raceId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="idCardNo != null" >
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="idCardStartDate != null" >
        #{idCardStartDate,jdbcType=DATE},
      </if>
      <if test="idCardEndDate != null" >
        #{idCardEndDate,jdbcType=DATE},
      </if>
      <if test="anmeldenAddress != null" >
        #{anmeldenAddress,jdbcType=VARCHAR},
      </if>
      <if test="anmeldenDetailAddress != null" >
        #{anmeldenDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="residentialAddress != null" >
        #{residentialAddress,jdbcType=VARCHAR},
      </if>
      <if test="residentialDatailAddress != null" >
        #{residentialDatailAddress,jdbcType=VARCHAR},
      </if>
      <if test="medicareCardNo != null" >
        #{medicareCardNo,jdbcType=VARCHAR},
      </if>
      <if test="ruralCooperativeCardNo != null" >
        #{ruralCooperativeCardNo,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="isAudited != null" >
        #{isAudited,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser2 != null" >
        #{createUser2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.skynet.collection.vo.CollectionInfo" >
    update collection
    <set >
      <if test="areaId != null" >
        AREA_ID = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="raceId != null" >
        RACE_ID = #{raceId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=INTEGER},
      </if>
      <if test="idCardNo != null" >
        ID_CARD_NO = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="idCardStartDate != null" >
        ID_CARD_START_DATE = #{idCardStartDate,jdbcType=DATE},
      </if>
      <if test="idCardEndDate != null" >
        ID_CARD_END_DATE = #{idCardEndDate,jdbcType=DATE},
      </if>
      <if test="anmeldenAddress != null" >
        ANMELDEN_ADDRESS = #{anmeldenAddress,jdbcType=VARCHAR},
      </if>
      <if test="anmeldenDetailAddress != null" >
        ANMELDEN_DETAIL_ADDRESS = #{anmeldenDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="residentialAddress != null" >
        RESIDENTIAL_ADDRESS = #{residentialAddress,jdbcType=VARCHAR},
      </if>
      <if test="residentialDatailAddress != null" >
        RESIDENTIAL_DATAIL_ADDRESS = #{residentialDatailAddress,jdbcType=VARCHAR},
      </if>
      <if test="medicareCardNo != null" >
        MEDICARE_CARD_NO = #{medicareCardNo,jdbcType=VARCHAR},
      </if>
      <if test="ruralCooperativeCardNo != null" >
        RURAL_COOPERATIVE_CARD_NO = #{ruralCooperativeCardNo,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="isAudited != null" >
        IS_AUDITED = #{isAudited,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser2 != null" >
        CREATE_USER2 = #{createUser2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        EXT3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        EXT2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        EXT1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skynet.collection.vo.CollectionInfo" >
    update collection
    set AREA_ID = #{areaId,jdbcType=VARCHAR},
      RACE_ID = #{raceId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=INTEGER},
      ID_CARD_NO = #{idCardNo,jdbcType=VARCHAR},
      ID_CARD_START_DATE = #{idCardStartDate,jdbcType=DATE},
      ID_CARD_END_DATE = #{idCardEndDate,jdbcType=DATE},
      ANMELDEN_ADDRESS = #{anmeldenAddress,jdbcType=VARCHAR},
      ANMELDEN_DETAIL_ADDRESS = #{anmeldenDetailAddress,jdbcType=VARCHAR},
      RESIDENTIAL_ADDRESS = #{residentialAddress,jdbcType=VARCHAR},
      RESIDENTIAL_DATAIL_ADDRESS = #{residentialDatailAddress,jdbcType=VARCHAR},
      MEDICARE_CARD_NO = #{medicareCardNo,jdbcType=VARCHAR},
      RURAL_COOPERATIVE_CARD_NO = #{ruralCooperativeCardNo,jdbcType=VARCHAR},
      ORG_ID = #{orgId,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      IS_AUDITED = #{isAudited,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_USER2 = #{createUser2,jdbcType=VARCHAR},
      EXT3 = #{ext3,jdbcType=VARCHAR},
      EXT2 = #{ext2,jdbcType=VARCHAR},
      EXT1 = #{ext1,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where C_ID = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>