<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skynet.collection.dao.RaceMapper" >
  <resultMap id="BaseResultMap" type="com.skynet.collection.vo.Race" >
    <id column="RACE_ID" property="raceId" jdbcType="VARCHAR" />
    <result column="RACE_NAME" property="raceName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="EXT2" property="ext2" jdbcType="VARCHAR" />
    <result column="EXT1" property="ext1" jdbcType="VARCHAR" />
    <result column="EXT3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RACE_ID, RACE_NAME, CREATE_DATE, UPDATE_DATE, CREATE_USER, REMARK, EXT2, EXT1, EXT3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from race
    where RACE_ID = #{raceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from race
    where RACE_ID = #{raceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.skynet.collection.vo.Race" >
    insert into race (RACE_ID, RACE_NAME, CREATE_DATE, 
      UPDATE_DATE, CREATE_USER, REMARK, 
      EXT2, EXT1, EXT3)
    values (#{raceId,jdbcType=VARCHAR}, #{raceName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.skynet.collection.vo.Race" >
    insert into race
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="raceId != null" >
        RACE_ID,
      </if>
      <if test="raceName != null" >
        RACE_NAME,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="ext2 != null" >
        EXT2,
      </if>
      <if test="ext1 != null" >
        EXT1,
      </if>
      <if test="ext3 != null" >
        EXT3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="raceId != null" >
        #{raceId,jdbcType=VARCHAR},
      </if>
      <if test="raceName != null" >
        #{raceName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.skynet.collection.vo.Race" >
    update race
    <set >
      <if test="raceName != null" >
        RACE_NAME = #{raceName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        EXT2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        EXT1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        EXT3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where RACE_ID = #{raceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skynet.collection.vo.Race" >
    update race
    set RACE_NAME = #{raceName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      EXT2 = #{ext2,jdbcType=VARCHAR},
      EXT1 = #{ext1,jdbcType=VARCHAR},
      EXT3 = #{ext3,jdbcType=VARCHAR}
    where RACE_ID = #{raceId,jdbcType=VARCHAR}
  </update>
</mapper>